@import url("//cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");

* {
  box-sizing: border-box;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
}

.keep-all {
  word-break: keep-all;
}

.react-resizable {
  position: relative;
}

.react-resizable-handle {
  position: absolute;
  width: 0.25rem;
  top: 4rem;
  bottom: 2rem;
  right: 0.65rem;
  background-color: black;
  opacity: 0.2;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: w-resize;
  border-radius: 9999px;
}
