@import url("//cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");

* {
  box-sizing: border-box;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
}

.keep-all {
  word-break: keep-all;
}

.react-resizable-handle {
  bottom: 0.5rem !important;
  right: 0.5rem !important;
}

.react-resizable-handle::after {
  display: none;
}

.react-grid-placeholder {
  background-color: #aaa !important;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  border-radius: 10px;
}

.tile-mask {
  mask: linear-gradient(transparent 30%, black 100%);
}
